.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.hidden {
  display: none;
}

.tt-blink {
  animation: blink 500ms steps(5, start) 2;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}