$fontStack: Consolas, monaco, monospace;

$mainBG: #100f12;
$chatBG: #19171c;

$chatColor: #faf7c2;
$userColor: #f7b923;
$noticeColor: #f86f3f;
$noticeSuccessColor: #5cfc82;
$announcementColor: #fff664;

$previousVideoColor: #6ad7d3;
$currentVideoColor: #5cfc82;
$upcomingVideoColor: #deff86;

$mainFontSize: 14px;
$smallFontSize: 10px;
$headingFontSize: 18px;
