$fontStack: Consolas, monaco, monospace;

$mainBG: #100f12;
$chatBG: #19171c;

$msgColor: #deff86;
$msgSelfColor: #6ad7d3;
$msgErrorColor: #f86f3f;
$msgNotificationColor: #f7b923;
$msgHelpColor: #5cfc82;
$msgAnnouncementColor: #fff664;

$previousVideoColor: #6ad7d3;
$currentVideoColor: #5cfc82;
$upcomingVideoColor: #deff86;

$mainFontSize: 14px;
$smallFontSize: 10px;
$headingFontSize: 18px;
