$backgroundColor: #aaa;

$backgroundColor2: #222;

$backgroundVideoPlayer: #000;
$backgroundPlaylist: #111;
$backgroundColorChat: #111;

$backgroundInput: #34302d;


$fontStack: Consolas, monaco, monospace;
$fontsizeMain: 12px;
$fontsizeSmaller: 10px;
$fontsizeBig: 20px;

$aColor: #ffd13d;
$aColorDisabled: #ded2aa;

$borderColor: #111;

$colorMsgSelf: #ffeaa2;
$colorMsgAnnouncement: #ffd13d;
$colorMsgNotificationWarning: #ff5c36;
$colorMsgNotificationSuccess: #7dff36;



/*new colors */
$fontStack: Consolas, monaco, monospace;

$mainBG: #100f12;
$chatBG: #19171c;

$chatColor: #faf7c2;
$userColor: #f7b923;
$noticeColor: #f86f3f;
$noticeSuccessColor: #5cfc82;
$announcementColor: #fff664;

$previousVideoColor: #6ad7d3;
$currentVideoColor: #5cfc82;
$upcomingVideoColor: #deff86;

$mainFontSize: 14px;
$smallFontSize: 10px;

/*
rotate...
transform: rotate(270deg);
*/