#tt-previous-videos-container {
  color: $previousVideoColor;
}

#tt-ytplayer-container {
  color: $currentVideoColor;
}

#tt-upcoming-videos-container {
  color: $upcomingVideoColor;
}

.tt-playlist-container {
  height: 100%;
}

.tt-playlist {
  margin: 0;
  padding: 0;
}

.tt-playlistitem {
  position: relative;
  height: 50px;

  h4 {
    position: absolute;
    top: 5px;
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin: 0;
    padding: 0px 25px 0 70px;
  }
}

.tt-playlistitem-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
}

.tt-playlistitem-meta {
  font-size: $smallFontSize;
  position: absolute;
  bottom: 5px;
  left: 75px;
}
