#tt-previous-videos-container {
  color: $previousVideoColor;
}

#tt-ytplayer-container {
  color: $currentVideoColor;
}

#tt-upcoming-videos-container {
  color: $upcomingVideoColor;
}

#tt-welcome-message {
  position: absolute;
  top: 30%;
  left: 15%;

  p {
    margin: 0;
  }

  .tt-indent {
    margin-left: 40px;
  }

  .tt-code {
    color: $noticeColor;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.tt-text-glow {
  animation: neon4 1s ease-in-out infinite alternate;
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 27px #B6FF00, 0 0 33px #B6FF00, 0 0 40px #B6FF00, 0 0 55px #B6FF00, 0 0 75px #B6FF00;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 11px #B6FF00, 0 0 14px #B6FF00, 0 0 19px #B6FF00, 0 0 25px #B6FF00, 0 0 33px #B6FF00;
  }
}

.tt-playlist-container {
  height: 100%;
}

.tt-playlist {
  margin: 0;
  padding: 0;
}

.tt-playlistitem {
  position: relative;
  height: 50px;

  h4 {
    position: absolute;
    top: 5px;
    font-size: $mainFontSize;
    left: 75px;
    margin: 0;
  }
}

.tt-playlistitem-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
}

.tt-playlistitem-meta {
  font-size: $smallFontSize;
  position: absolute;
  bottom: 5px;
  left: 75px;
}


