html {
  min-height: 100%;
  height: 100%;
  background-color: $mainBG;

  body {
    @extend html;
    color: $msgColor;
    font-family: $fontStack;
    font-size: $mainFontSize;
  }
}

ul, ol {
  list-style: none;

}

input {
  background-color: $chatBG;
  border: none;
  &:focus {
    outline: none;
  }
}

#tunetab,
#tt-container {
  height: 100%;
  width: 100%;
  clear: both;
  position: relative;
}

#tunetab {
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }

}

#tt-chat-container {
  background-color: $chatBG;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 33.33%;
}

#tt-chat {
  position: relative;
  height: 100%;
  width: 100%;
}

#tt-videoplayer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 66.66%;
  height: 100%;
}

#tt-videoplayer {
  position: relative;
  height: 100%;
  width: 100%;
}

#tt-ytplayer-container {
  height: 55%;
  width: 100%;
}

#tt-previous-videos-container {
  height: 20%;
  width: 100%;
}

#tt-upcoming-videos-container {
  height: 25%;
  width: 100%;
}

#tt-previous-videos-container .tt-overflow-container,
#tt-upcoming-videos-container .tt-overflow-container {
  height: 100%;
}


.tt-overflow-container {
  overflow-y: scroll;
  overflow-x: hidden;
}

.tt-sideways-container {
  position: relative;
  padding-left: 40px;
  overflow: hidden;
}

.tt-sideways {
  height: 40px;
  position: absolute;
  bottom: 0;
  line-height: 2;
  left: 0;
  font-size: $headingFontSize;
  padding: 0 0 0 10px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform: translate(0,100%) rotate(270deg);
  transform-origin: 0 0;
}

@keyframes fadeIn { 
  0% { 
    opacity: 0;
  }
  50% { 
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

.tt-container-flash {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  background: $upcomingFlashGradient;
}

.tt-container-flash-animation {
  animation-name: fadeIn;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  // animation-fill-mode: forwards;

}

