html {
  min-height: 100%;
  height: 100%;
}

body {
  background-color: #111;
  min-height: 100%;
  height: 100%;
  color: #fafafa;
}

input[type="text"] {
  background-color: #222;
  color: #fefefe;
  border: 1px solid #444;
}

.hidden {
  display: none;
}

#tunetab {
  height: 100%;
  width: 100%;
  clear: both;
}

.main-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  min-height: 100%;
}

.main-container .col-2-3 {
  width: 66.6%;
}

.main-container .col-1-3 {
  width: 33.3%;
}

#tt-videoplayer {
  height: 100%;
  position: relative;
}

#tt-chat {
  height: 100%;
  position: relative;
}

