#tt-chatform {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $backgroundColor2;
  width: 100%;
  height: 30px;
}

#tt-chatform-c {
  box-sizing: border-box;
  height: 100%;
  padding: 5px;
  position: relative;
}

#tt-chatform-c * {
  box-sizing: inherit;
}

#tt-chatform-input {
  width: 100%;
  font-size: 12px;
  border: none;
  background-color: $backgroundColorInput;
  height: 20px;
}

#tt-send-msg {
  position: absolute;
  right: 2px;
  top: 8px;
  padding: 0 8px;
  width: 25px;
}

