#tt-msg-c {
  position: absolute;
  margin-top: 42px;
  margin-bottom: 30px;
  top:0;
  bottom:0;
  left:0;
  right:2px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#tt-msg {
  height: 100%;
  background-color: $backgroundColorChat;
  box-shadow: inset 10px -3px 7px -8px rgba(46,46,46,1);
  list-style: none;
  padding: 5px;
  margin: 0;
}

#tt-msg li {
  list-style: none;
}

.tt-msg-item {

}

.tt-msg-user {

}

.tt-msg-alias {
  margin-right: 6px;
  font-weight: 600;
} 

.tt-msg-alias-self {
  color: #ffeaa2;
}

.tt-msg-alias::after {
  content: ":";
}


.tt-msg-item.tt-msg-announcement {
  color: #ffd13d;
}

.tt-msg-item.tt-msg-announcement .tt-msg-alias{
  
}