#tt-userbar {
  height: 14px;
  padding: 15px 20px;
  background-color: #222;
}

.tt-user-action {
  margin-left: 12px;
  font-size: 12px;
}

.tt-user-action .fa {
  margin-right: 6px;
}

.tt-alias {
  font-weight: 600;
}

input.tt-user-alias-form {
  height: 14px;
  background-color: #111;
  border: none;
}

