#tt-userbar {
  box-sizing: border-box;
  height: 42px;
  padding: 15px 20px;
  background-color: $backgroundColor2;
}

#tt-userbar * {
  box-sizing: inherit;
}

.tt-alias {
  font-weight: 600;
}

input.tt-user-alias-form {
  width: 100px;
  height: 14px;
  background-color: $backgroundColorInput;
  border: none;
}

