$backgroundColor: #aaa;

$backgroundColor2: #222;

$backgroundVideoPlayer: #000;
$backgroundPlaylist: #111;
$backgroundColorChat: #111;

$backgroundInput: #34302d;


$fontStack: Consolas, monaco, monospace;
$fontsizeMain: 12px;
$fontsizeSmaller: 10px;

$aColor: #ffd13d;

$borderColor: #111;
