#tt-videoplayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 66.66%;
  height: 100%;
  background-color: $backgroundColor2;
}

#tt-ytplayer-c {
  background-color: $backgroundVideoPlayer;
  height: 50%;
  width: 100%;
}

#tt-videoplayer-funct {
  height: 5%;
  margin-top: 6px;
  width: 100%; 
}

#tt-ytplayer {
  margin: 0 auto;
}

@import 'submitvideo';
@import 'skipvideo';
@import 'playlist';