<!doctype html>
<html>
  <head>
    <title>Socket.IO chat <%= room %></title>
    <style>

    </style>
  </head>
  <body>
    <input id="videourl" type="text" autocomplete="off" /><button id="submitVideo">submitvideo</button>
    <input id="alias" type="text" autocomplete="off" /><button id="saveAlias">save</button>
    <div id="ytplayer"></div>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" type="text" autocomplete="off" /><button>Send</button>
    </form>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/jquery.js"></script>
    <script src="/js.cookie.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      var roomId = '<%= room %>';
      var ytplayer;
      var youtubeRX = /^.*(?:(?:youtu\.be\/|v\/|vi\/|u\/\w\/|embed\/)|(?:(?:watch)?\?v(?:i)?=|\&v(?:i)?=))([^#\&\?]*).*/;
      var COOKIE_NAME = 'tunetab_alias';
      var alias = Cookies.get(COOKIE_NAME) || false;
      var video = {};
      var tickInterval = {};

      function onYouTubeIframeAPIReady() {
        console.log('onYouTubeIframeAPIReady')
        if(!video.currentVideo) {
          $('#messages').append($('<li style="background-color:pink">').text('submit a video ' + alias + '!'));
        } else {
          player = new YT.Player('ytplayer', {
            height: '390',
            width: '640',
            videoId: video.currentVideo,
            playerVars: {
              autoplay: 1,
              controls: 0,
              disablekb: 1,
              enablejsapi: 1,
              fs: 0,
              modestbranding: 1,
              playsinline: 1,
              rel: 0,
              showinfo: 0
            },
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            }
          });
        }
      }

      function onPlayerReady(event) {
        socket.emit('getVideoTime');

        console.log('onPlayerReady');
      }

      socket.on('officialVideoTime', function(data){
        console.log('videoSubmitted placeholder');
        // set video time here
        player.seekTo(data.video.currentVideoTime);
        // player.playVideo();
      });

      function onPlayerStateChange(event) {
        // event.data = 
        // -1 (unstarted)
        // 0 (ended)
        // 1 (playing)
        // 2 (paused)
        // 3 (buffering)
        // 5 (video cued).
        console.log('onPlayerStateChange', event.data);
        if(event.data < 2) {
          tickInterval = setInterval(function() {
            socket.emit('tick', {videoTime: player.getCurrentTime().toFixed(0)});
          }, 1111);  
        } else {
          console.log('unset interval');
          window.clearInterval(tickInterval);
        }
      }

      socket.emit('login', {room: roomId, alias: alias});

      socket.on('welcome', function(data){
        if(alias === false) {
          alias = data.alias;
          Cookies.set(COOKIE_NAME, alias, { expires: 666});
        }
        video = data.video;
        $('#alias').val(alias);
      });

      socket.on('message', function(data){
        $('#messages').append($('<li>').text(data.msg));
      });

      socket.on('announcement', function(data){
        $('#messages').append($('<li style="background-color:pink">').text(data.msg));
      });

      socket.on('startVideo', function(data){
        video = data.video;
        onYouTubeIframeAPIReady();
      });

      
      socket.on('videoSubmitted', function(data){
        console.log('videoSubmitted placeholder');
      });

      socket.on('nextVideo', function(data){
        console.log('videoSubmitted placeholder');
      });

      // events
      $('#saveAlias').click(function() {
        var alias = $('#alias').val();
        Cookies.set(COOKIE_NAME, alias, { expires: 666});
        socket.emit('updateAlias', {alias: alias});
      });

      $('#submitVideo').click(function() {
        var video = $('#videourl').val();
        video = video.match(youtubeRX);
        socket.emit('submitVideo', {video: video[1]});
      });

      $('form').submit(function(){
        socket.emit('message', {msg: alias + ': ' + $('#m').val()});
        $('#m').val('');
        return false;
      });

    </script>
  </body>
</html>