<!doctype html>
<html>
  <head>
    <title>Socket.IO chat <%= room %></title>
    <style>

    </style>
  </head>
  <body>
    <input id="videourl" type="text" autocomplete="off" /><button id="submitVideo">submitvideo</button>
    <input id="alias" type="text" autocomplete="off" /><button id="saveAlias">save</button>
    <ul id="previous"></ul>
    <div id="ytplayer"></div>
    <ul id="upcoming"></ul>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" type="text" autocomplete="off" /><button>Send</button>
    </form>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/jquery.js"></script>
    <script src="/js.cookie.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      var roomId = '<%= room %>';
      var ytplayer;
      var youtubeRX = /^.*(?:(?:youtu\.be\/|v\/|vi\/|u\/\w\/|embed\/)|(?:(?:watch)?\?v(?:i)?=|\&v(?:i)?=))([^#\&\?]*).*/;
      var COOKIE_NAME = 'tunetab_alias';
      var alias = Cookies.get(COOKIE_NAME) || false;
      var video = {};
      var tickInterval = {};

      function onYouTubeIframeAPIReady() {
        console.log('onYouTubeIframeAPIReady', video);
        if(video.current) {
          ytplayer = new YT.Player('ytplayer', {
            height: '390',
            width: '640',
            videoId: video.current.videoId,
            playerVars: {
              autoplay: 1,
              controls: 0,
              disablekb: 1,
              enablejsapi: 1,
              fs: 0,
              modestbranding: 1,
              playsinline: 1,
              rel: 0,
              showinfo: 0
            },
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            }
          });
        }
      }

      function onPlayerReady(event) {
        console.log('onPlayerReady');
        socket.emit('getVideoTime');
      }

      socket.on('officialVideoTime', function(data){
        console.log('officialVideoTime');
        ytplayer.seekTo(data.video.currentVideoTime);
      });

      function onPlayerStateChange(event) {
        // event.data =
        // -1 (unstarted)
        // 0 (ended)
        // 1 (playing)
        // 2 (paused)
        // 3 (buffering)
        // 5 (video cued).
        console.log('onPlayerStateChange', event.data);
        if(event.data === 1) {
          tickInterval = setInterval(function() {
            socket.emit('tick', {videoTime: ytplayer.getCurrentTime().toFixed(0)});
          }, 1111);
        } else {
          if(event.data === 0) {
            console.log(video.current.videoId, 'over!');
            socket.emit('playNextVideo', {videoId: video.current.videoId});
          }
          console.log('unset interval');
          window.clearInterval(tickInterval);
        }
      }

      socket.emit('login', {room: roomId, alias: alias});

      socket.on('welcome', function(data){
        Cookies.set(COOKIE_NAME, data.alias, { expires: 666});
        video = data.video;
        $('#alias').val(alias);
        console.log('welcome', data);
        onYouTubeIframeAPIReady();
      });

      socket.on('message', function(data){
        $('#messages').append($('<li>').text(data.msg));
      });

      socket.on('announcement', function(data){
        $('#messages').append($('<li style="background-color:pink">').text(data.msg));
      });

      socket.on('firstVideo', function(data){
        console.log('firstVideo')
        video = data.video;
        onYouTubeIframeAPIReady();
      });

      socket.on('playVideo', function(data){
        console.log('playVideo')
        video = data.video;
        if(video.current) {
          ytplayer.loadVideoById(video.current.videoId);
        } else {
          console.log('playlist done');
        }
      });

      socket.on('videoSubmitted', function(data){
        console.log('videoSubmitted placeholder');
        // rerender stuff here
      });

      // events
      $('#saveAlias').click(function() {
        var alias = $('#alias').val();
        Cookies.set(COOKIE_NAME, alias, { expires: 666});
        socket.emit('updateAlias', {alias: alias});
      });

      $('#submitVideo').click(function() {
        var video = $('#videourl').val();
        video = video.match(youtubeRX);
        if(video) {
          socket.emit('submitVideo', {video: video[1]});
        } else {
          console.log('error url');
        }
      });

      $('form').submit(function(){
        socket.emit('message', {msg: alias + ': ' + $('#m').val()});
        $('#m').val('');
        return false;
      });

    </script>
  </body>
</html>