<!doctype html>
<html>
  <head>
    <title>Socket.IO chat <%= room %></title>
    <style>

    </style>
  </head>
  <body>
    to do: submit only one video? make sure reset of users skip vote is reset on next video...

    <button id="mute">mute</button>
    <input id="videourl" type="text" autocomplete="off" /><button id="submitVideo">submitvideo</button>
    <input id="alias" type="text" autocomplete="off" /><button id="saveAlias">save</button>
    <ul id="previous"></ul>
    <div id="ytplayer"></div>
    <div id="skip">
      <button id="skipVideo">Skip (<span id="currentSkipVotes">0</span>)</button>
      (votes required to skip: <span id="skipVotesRequired">1</span>)
    </div>
    <ul id="upcoming"></ul>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" type="text" autocomplete="off" /><button>Send</button>
    </form>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/jquery.js"></script>
    <script src="/js.cookie.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      var roomId = '<%= room %>';
      var ytplayer;
      var youtubeRX = /^.*(?:(?:youtu\.be\/|v\/|vi\/|u\/\w\/|embed\/)|(?:(?:watch)?\?v(?:i)?=|\&v(?:i)?=))([^#\&\?]*).*/;
      var COOKIE_NAME = 'tunetab_alias';
      var alias = Cookies.get(COOKIE_NAME) || false;
      var videos = {};
      var tickInterval = {};
      var users = {}
      var userCount = 0;
      var skipVotes = 0;
      var skipThreshold = 1;
      var YT_API_RDY = false;

      function onYouTubeIframeAPIReady() {
        YT_API_RDY = true;
        console.log('onYouTubeIframeAPIReady', videos);
        if(videos.current) {
          ytplayer = new YT.Player('ytplayer', {
            height: '390',
            width: '640',
            videoId: videos.current.id,
            playerVars: {
              autoplay: 1,
              controls: 0,
              disablekb: 1,
              enablejsapi: 1,
              fs: 0,
              modestbranding: 1,
              playsinline: 1,
              rel: 0,
              showinfo: 0
            },
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            }
          });
        }
      }

      function onPlayerReady(event) {
        console.log('onPlayerReady');
        socket.emit('getVideoTime');
      }

      socket.on('officialVideoTime', function(data){
        console.log('officialVideoTime', data);
        ytplayer.seekTo(data.videoTime);
      });

      function onPlayerStateChange(event) {
        // event.data =
        // -1 (unstarted)
        // 0 (ended)
        // 1 (playing)
        // 2 (paused)
        // 3 (buffering)
        // 5 (video cued).
        console.log('onPlayerStateChange', event.data);
        if(event.data === 1) {
          tickInterval = setInterval(function() {
            socket.emit('tick', {videoTime: ytplayer.getCurrentTime().toFixed(0)});
          }, 777);
        } else {
          if(event.data === 0) {
            console.log(videos.current.id, 'over!');
            socket.emit('playNextVideo', {videoId: videos.current.id});
          }
          console.log('unset interval');
          window.clearInterval(tickInterval);
        }
      }

      function buildList(videos, reverse) {
        var out = '';
        if(typeof reverse !== 'undefined') {
          videos.reverse();
        }
        videos.forEach(function(video) {
          out += '<li><h4>' + video.title + '</h4>'
              + '<img height="' + video.thumb.height
              + '" width="' + video.thumb.height
              + '" src="' + video.thumb.url + '" />'
              + video.user + '</li>';
        });
        return out;
      }

      function renderPlaylist() {
        var previousList = '';
        var upcomingList = '';
        if(videos.upcoming.length > 0) {
          previousList = buildList(videos.upcoming, true);
        }
        if(videos.previous.length > 0) {
          upcomingList = buildList(videos.previous);
        }
        $('#previous').html(previousList);
        $('#upcoming').html(upcomingList);
      }

      function renderSkipStuff() {
        $('#currentSkipVotes').text(skipVotes)
        $('#skipVotesRequired').text(skipThreshold)
      }

      socket.emit('login', {room: roomId, alias: alias});

      socket.on('welcome', function(data){
        alias = data.alias;
        Cookies.set(COOKIE_NAME, data.alias, { expires: 666});
        videos = data.videos;
        $('#alias').val(alias);
        console.log('welcome', data);
        if(YT_API_RDY) {
          onYouTubeIframeAPIReady();
          renderPlaylist();
        }
      });

      socket.on('usersInfo', function(data){
        console.log('usersInfo', data);
        users = data.users;
        userCount = data.userCount;
        skipVotes = data.skipVotes;
        skipThreshold = data.skipThreshold;
        renderSkipStuff();
      });




      socket.on('firstVideo', function(data){
        console.log('firstVideo', data);
        videos = data.videos;
        if(YT_API_RDY) {
          onYouTubeIframeAPIReady();
        }
      });

      socket.on('playVideo', function(data){
        console.log('playVideo');
        videos = data.videos;
        if(videos.current) {
          ytplayer.loadVideoById(videos.current.id);
        } else {
          console.log('playlist done');
        }
        renderPlaylist();
      });

      socket.on('videoSubmitted', function(data){
        console.log('videoSubmitted', data);
        videos = data.videos;
        renderPlaylist();
      });

      socket.on('skippingVideo', function(data){
        console.log('skippingVideo', data);
        skipVotes = data.skipVotes;
        socket.emit('playNextVideo', {videoId: videos.current.id});
        renderSkipStuff()
      });

      socket.on('skipVoteChanged', function(data){
        console.log('skipVoteChanged', data);
        skipVotes = skipVotes;
        renderSkipStuff();
      });



      $('#skipVideo').click(function() {
        socket.emit('skipVideo');
      });

      // events
      $('#saveAlias').click(function() {
        var alias = $('#alias').val();
        Cookies.set(COOKIE_NAME, alias, { expires: 666});
        socket.emit('updateAlias', {alias: alias});
      });

      $('#submitVideo').click(function() {
        var v = $('#videourl').val();
        v = v.match(youtubeRX);
        if(v) {
          socket.emit('submitVideo', {video: v[1]});
        } else {
          console.log('error url');
        }
      });

      $('form').submit(function(){
        socket.emit('message', {msg: alias + ': ' + $('#m').val()});
        $('#m').val('');
        return false;
      });

    </script>
  </body>
</html>